* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    padding: 5rem;
    flex-wrap: wrap;
}

.feedbackContainer {
    width: 50%;
    margin: 20px auto;
    font-size: 1.5rem;
}

.feedback {
    font-family: 'Kalam', cursive;
}

.btn {
    width: 25%;
    text-align: center;
    border: none;
    font-size: 1.20rem;
    margin: 10px auto;
    font-family: Roboto, sans-serif;
    font-weight: 0;
    color: #fff;
    background: linear-gradient(90deg, #3559e0 0%, #ff2e63 100%);
    padding: 10px 30px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 30px;
    transition: 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

.completionImage {
    border-radius: 50px;

}

.btn:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #3559e0 0%, #ff2e63 100%);
    color: #ffffff;
}

.score {
    font-size: 2rem;
}

.completionImage {
    height: 15rem;
}